main #sidebar{
    background-image: url(./img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-fluid.bg-primary.text-light ol.breadcrumb li {
    color: white; 
  }

  .container-fluid.bg-primary.text-light ol.breadcrumb li.text a {
    color: white; 
  }